.clients{
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 3em;
    padding-bottom: 3em;
    background: url("/img/bg2.jpg");
    &__slaide{
        width: 60%;
        margin: 0 auto;
        margin-top: 3em;
    }
}