.maps{
    width: 100%;
    margin-top: 3em;
    position: relative;
    &__wrap{
        width: 70%;
        display: block;
        margin: 0 auto;
        margin-top: 3em;
    }
}
.ymaps-layers-pane {
	filter: invert(100%);
	-ms-filter: invert(100%);
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
}