.mexob{
     display:flex;
     width: 70%;
     margin: 0 auto;
     margin-top: 40px;
     justify-content: space-around;
     align-items: center;
     &__descr{
         margin-left: 45px;
     }
}
.cut{
    &__wrap{
        display: flex;
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;
    }
    &__imagebox{
        display: block;
        width: 400px;
        height: 400px;
        border:1px solid red;
    }
    &__textbox{
        display: block;
        margin-left: 40px;
        width: 60%;
        margin-right: 40px;
    }
}